.dashboard-content {
  position: relative;
  background-color: #555555;
  width: 100%;
  height: 100%;
  overflow: scroll;
  /* touch-action: pan-x pan-y; */
  /* touch-action: none; */
}

.dashboard-content.touch-action-none {
  touch-action: none;
  /* background-color: rgb(70, 70, 70); */
}

.dashboard-content .debug-info {
  position: relative;
  left: 0;
  top: 0;
  background-color: #f5f3da44;
}