.bar-chart rect.background {
    fill: var(--oxford-blue);
}
.bar-chart .axis path {
    fill: none;
    stroke: var(--sonic-silver-3);
    stroke-width: 1px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-opacity: 1;
}
.bar-chart .axis-ticks path {
    fill: none;
    stroke: var(--sonic-silver-3);
    stroke-width: 1px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-opacity: 1;
}
.bar-chart path {
    fill:none;
    stroke:#ffffff;
    stroke-width: 0.264583px;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-opacity:1
}
.bar-chart rect.bar {
    fill: var(--queen-pink);
    fill-opacity:1;
    stroke:none;
    stroke-width:1;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-opacity:1
}

.bar-chart circle.point {
    fill: var(--queen-pink);
    fill-opacity:1;
    stroke:none;
}

.bar-chart text {
    fill: #ffffff;
}