  .resizeable-card-container {
    position: absolute;
    margin: 0;
    padding: 0;
    height: min-content;
    width: min-content;
    display: flex;
    flex-flow: row nowrap;
    touch-action: none;
    /* box-sizing: border-box; */
    z-index: 0;
  }

  .resizeable-card-container.receiving-drop .background {
    fill: #69e71f;
  }

  
  .resizeable-card-container.animate-all {
    transition: all 0.05s ease-in;
  }
  
  .resizeable-card-container.selected {
    margin: -3px;
    padding: 0px;
    border-style: solid;
    border-width: 3px;
    border-color: #789ad8;
    /* border-color: #da1cda; */
  }
  .resizeable-card-container, .resizeable-card-container .content {
    border-radius: 1px;
  }
  .resizeable-card-container .content {
    overflow: hidden;
    background-color: #dbdbdb;
    /* Border */
    box-sizing: border-box;
    margin: 0px;
    border-style: solid;
    /* border-width: 15px; */ /* Passed as props */
    border-color: #bebebe;
    /* Shadow */
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.1);
  }
  .resizeable-card-container .col-container {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
  }

  .resizeable-card-container .border {
    position: absolute;
    background-color: #333333;
    opacity: 0;
    z-index: 1;
  }
  .resizeable-card-container .border.horizontal {
    height: 15px;
    width: calc(100% - 15px);
    left: 7.5px;
    cursor: ns-resize;
  }
  .resizeable-card-container .border.horizontal.top {
    top: -7.5px;
  }
  .resizeable-card-container .border.horizontal.bottom {
    top: calc(100% - 7.5px);
  }
  .resizeable-card-container .border.vertical {
    height: calc(100% - 15px);
    width: 15px;
    cursor: ew-resize;
    top: 7.5px;
    left: -7.5px;
  }
  .resizeable-card-container .corner {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #69e71f;
    opacity: 0;
    z-index: 2;
    left: -7.5px;
  }
  .resizeable-card-container .corner.nw {
    cursor: nw-resize;
    top: -7.5px;
  }
  .resizeable-card-container .corner.ne {
    cursor: ne-resize;
    top: -7.5px;
  }
  .resizeable-card-container .corner.sw {
    cursor: sw-resize;
    top: calc(100% - 7.5px);
  }
  .resizeable-card-container .corner.se {
    cursor: se-resize;
    top: calc(100% - 7.5px);
  }

  .resizeable-card-container.unset-cursors .border {
    cursor: unset;
  }
  .resizeable-card-container.unset-cursors .corner {
    cursor: unset;
  }

  svg {
    width: 100%;
    height: 100%;
}

svg rect {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

svg .background {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

svg, svg * {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}