.side-panel {
    width: 250px;
    height: 100%;

    /* background-color: rgb(230, 227, 223); */
    background-color: var(--sonic-silver-1);
    
    transition: all 0.5s ease;
    display: flex;
    flex-flow: row nowrap;
}
.side-panel .sections-container {
    width: 30vw;
    min-width: 150px;
}
.side-panel.hide {
    width: 38px;
}

.side-panel .buttons-container {
    display: flex;
    flex-flow: column nowrap;
    width: 38px;
    min-width: 38px;
    height: auto;
    background-color: var(--sonic-silver-5);

    align-items: flex-end;
    justify-content: flex-start;
    padding-top: 5px;

    border-style: solid;
    border-width: 0px 3px 0px 0px;
    border-color: var(--sonic-silver-1);
    box-sizing: border-box;
}
.side-panel .buttons-container button {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    
    height: 60px;
    width: 30px;
    
    border-radius: 3px 0px 0px 3px;
    border-style: solid;
    border-width: 1px;
    border-right: none;
    border-color: var(--sonic-silver-5);
    
    background-color: var(--sonic-silver-4);
    color: #ffffff;
    
    padding: 0;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
    box-sizing: border-box;
}

.side-panel .buttons-container button:hover {
    background-color: var(--sonic-silver);
}

.side-panel .buttons-container button .text {
    transform: rotate(-90deg);
    font-size: 14px;
    font-weight: 500;
}

.side-panel .buttons-container button.active {
    background-color: #ffffff;
    color: var(--sonic-silver-4);
    border-color: #ffffff;
}

.side-panel .sections-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    border-style: solid;
    border-color: var(--sonic-silver-2);
    border-width: 0 0 0 1px;
}

.side-panel .section {
    display: none;
    margin: 10px;
}
.side-panel .section .title {
    font-size: 15px;
    margin: 0;
    margin-bottom: 10px;
}
.side-panel .section.active {
    display: block;
}

.side-panel .section h4 {
    font-size: 15px;
    margin: 0;
}