.App {
  position: relative;
  display: block;
  height: 100vh;
  width: 100vw;
  /* padding: 2px; */
  margin: 0;
}

.App.cursor-normal {cursor: unset;}
.App.cursor-ns-resize {cursor: ns-resize;}
.App.cursor-ew-resize {cursor: ew-resize;}
.App.cursor-ne-resize {cursor: ne-resize;}
.App.cursor-nw-resize {cursor: nw-resize;}
.App.cursor-se-resize {cursor: se-resize;}
.App.cursor-sw-resize {cursor: sw-resize;}

.container-for-side-panel-and-content {
  display: flex;
  flex-flow: row nowrap;
  height: calc(100% - 50px);

}